  @import url('https://fonts.googleapis.com/css?family=Monofett|Saira+Semi+Condensed:100');
  .App {
    text-align: center;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction: column;
  }

  .rcard {
    padding-top: 50px !important;
  }

  .box>.box {
    border: none;
    box-shadow: 0 0 0 0 !important;
  }

  .recipe-divider {
    border-top: 1px solid aquamarine;
    padding-top: 40px;
  }

  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
    margin: 20px;
    padding: 20px;
    border: .1px solid #363B3B;
    border: none;
    color: mintcream;
    border-radius: 1px;
    /* box-shadow: 0 2px 10px 0 rgba(221, 221, 221, 0.22)!important; */
  }

  .input-box {
    border: none;
    color: mintcream;
    /* justify-content: space-between; */
    margin-top: 5px;
    padding: 10px;
  }

  input {
    width: 50%;
    padding: 10px;
    line-height: 1;
    font-size: 1.2rem;
    border: 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 0;
    background: rgb(236, 234, 234);
    box-shadow: inset -1px -1px 2px #FFFFFF;
  }

  textarea {
    background: rgb(236, 235, 235);
    box-shadow: inset -1px -1px 2px #FFFFFF;
    border: 0;
  }

  .recipe {
    /* flex: 1; */
    /* align-self: space-between; */
    margin: 10px;
    padding: 10px;
    /* background: rgba(223, 227, 225, 0.11); */
    background: rgb(32, 32, 32);
    /* border: .1px solid #7AF9F1; */
    border-radius: 1px;
    /* color: #7FFFEE; */
    color: mintcream;
    width: 25%;
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    box-shadow: 0 2px 8px 0 rgba(127, 255, 212, 0.32)!important;
  }

  button {
    text-transform: uppercase;
    background: rgba(117, 133, 133, 0.07);
    /* background: rgba(29, 30, 30, 0.11); */
    /* box-shadow: 0 2px 4px 0 rgba(242, 242, 242, 0.09), 0 2px 10px 0 rgba(221, 221, 221, 0.08)!important; */
    border: 1px solid #363B3B;
    border-radius: 2px;
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'Saira Semi Condensed', sans-serif;
    color: mintcream;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: relative;
    z-index: 2;
    -webkit-appearance: button;
    cursor: pointer;
  }

  .recipe>button {
    border: none;
    background: none;
    margin: 5px;
  }

  .delete-icon:hover {
    filter: invert(100%) drop-shadow(0 2px 2px rgba(0, 255, 216, 0.75));
  }

  button:hover {
    color: cyan;
    filter: invert(20%);
  }

  .box-recipe {
    margin: auto;
    padding: 20px;
  }

  h1 {
    color: #1ABC7B;
    font-weight: 400;
    font-family: 'Monofett';
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(221, 221, 221, 0.22)!important;
    margin-top: 0px;
    background: rgb(32, 32, 32);
    /* background: rgba(9, 9, 9, 0.71); */
    flex: 0;
    position: fixed;
    /* display: inline-flex; */
  }

  h1>span {
    /* border: .5px solid lightpink; */
    font-size: 48px;
    padding: 10px;
  }